<div class="row">
  <div class="form-group">
    <%= label_tag 'esposo', 'Esposo', class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
      <%= @matrimonio.esposo.nombre_completo %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <%= label_tag 'esposa', 'Esposa', class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
      <%= @matrimonio.esposa.nombre_completo %>
    </div>
  </div>
</div>
