<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
  Dashboard
  <small>Control panel</small>
</h1>
</section>

<!-- Main content -->
<section class="content">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</section>

