    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nuevo usuario
        <div class="pull-right">
        <h4>
          <%= link_to 'Regresar', usuarios_path %>
        </h4>
        </div>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">ID: </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form', usuario: @usuario %>
        </div>
      </div>
    </section>
  </div>



