/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-style
 *= require pnotify
 *= require pnotify/index
 *= require font-awesome
 *= require theme
 *= require theme-skin-blue-light
 *= require daterangepicker
 */
:required:focus {
  box-shadow: 0  0 3px rgba(255,0,0,0.5);
}

.row-coustom{
  padding-top: 8px;
  border-bottom: dotted 1px #999;
  padding-bottom: 8px;
  margin-left: -10px;
  margin-right: -10px;
}

.row-coustom:hover{
  background-color: #fcf8e3;
}

.row-coustom-background{
  background-color: #f4f4f4;
}
